@import 'src/styles/mixins/flex.mixin.scss';

.button {
  @include flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  &__label {
    padding: 4px;
  }
  &__icon {

  }
}