@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,900;1,400&family=Rubik:wght@300;400;800&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --extra-light-blue-hex: #ADD7F6;
  --extra-light-violet-blue-hex: #9FC7FE;
  --light-blue-hex: #87BFFF;
  --blue-hex: #3F8EFC;
  --bright-blue-hex: #2667FF;
  --dark-blue-hex: #3B28CC;

  --dark-hex: #110F29;
  --light-hex: #FFFFFF;

  --intro-button-background-start: rgba(38, 103, 255, 0.2);
  --intro-button-background-end: rgba(0, 0, 0, 0);
  --intro-button-background-base:  #C3DFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-sub-rgb: 184, 184, 184;
    --background-rgb: 7, 15, 41;

    --intro-button-background-base:  #3A40D4;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --foreground-sub-rgb: 64, 64, 64;
    --background-rgb: 255, 255, 255;

    --intro-button-background-start: rgba(38, 103, 255, 0.2);
    --intro-button-background-end: rgba(0, 0, 0, 0);
    --intro-button-background-base:  #C3DFFF;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#__next {
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Rubik;
  font-size: 18px;
  line-height: 22px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1, h2, h3, h4 {
  font-family: Montserrat;
  font-weight: 300;
}

h1 {
  font-size: 46px;
  line-height: 56px;

}

h1.large {
  font-size: 128px;
  line-height: 136px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}