@import 'src/styles/mixins/flex.mixin.scss';

.step {
  @include flex-row;
  width: 100%;
  overflow-y: scroll;
  flex-grow: 1;

  &-main {
    flex-grow: 1;
    padding: 36px;
    @include flex-column;
    gap: 8px;
  }
  &-tip {
    flex-grow: 1;
    padding: 36px;
    background: purple;
  }
}