@import 'src/styles/mixins/flex.mixin.scss';

.sidebar {
  padding: 24px 32px;
  max-width: 160px;
  min-width: 160px;
  @include flex-column;
  box-sizing: content-box;
  gap: 16px;
  min-height: 100vh;

  //todo change
  background: darkblue;
}