@import 'src/styles/mixins/flex.mixin.scss';

.sidebar {
  padding: 24px 32px;
  max-width: 160px;
  min-width: 160px;
  @include flex-column;
  box-sizing: content-box;
  gap:48px;
  min-height: calc(100vh - 48px);
  color: var(--primary-sidebar-text-color);
  background: var(--primary-sidebar-background);

  &__navigation {
    flex: 1 0;

    a {
      color: var(--primary-sidebar-text-color);
    }
  }
}


