@import 'src/styles/mixins/flex.mixin.scss';

.sidebar {
  padding: 24px 32px;
  max-width: 160px;
  min-width: 160px;
  @include flex-column;
  box-sizing: content-box;
  gap: 16px;
  min-height: calc(100vh - 48px);

  &__navigation {
    flex: 1 0;
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar {

    // todo вынести в global.scss
    background: rgb(4, 16, 75);
  }
}
