@import '../../styles/mixins/flex.mixin';

.before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  z-index: 1000;
  overflow: hidden;
}

.container {
  background: var(--priary-popup-background);
  @include flex-column;
  padding: 24px;
  gap: 16px;
  grid-column-start: 3;
  grid-column-end: 7;
  align-self: center;
  height: fit-content;
  overflow-y: auto;
  height: fit-content;
  max-height: 687px;
}

.buttons {
  @include flex;
}

.header {
  @include flex;
  justify-content: space-between;
}