@mixin styleIcons($class, $IsFill: false) {
  cursor: pointer;
  display: flex;
  path {
    transition: .2s;
    stroke: var(--#{$class});

    @if $IsFill {
      fill: var(--#{$class});
    }
  }

  &.active, &:hover {
    display: flex;
    path {
      stroke: var(--hover__#{$class});

      @if $IsFill {
        fill: var(--hover__#{$class});
      }
    }
  }
}

@mixin icon-style-constructor($var) {
  @include styleIcons($var);
  &-filled-icon {
    @include styleIcons($var, true)
  }
}

.default-icon {
  @include icon-style-constructor(default-icon-color);
}

.orange-icon {
  @include icon-style-constructor(orange-icon-color);
}

.dark-icon {
  @include icon-style-constructor(dark-icon-color);
}

[class^="button"]:hover .orange-icon,
[class^="button"]:active .orange-icon {
  @extend .orange-icon, :hover;
}
